<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Richard Sookraj</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Richard Sookraj
                    </a>
                </li>
                <li>
                    <a href="#">Main Page</a>
                </li>

                <li>
                    <a href="#">Empowering You</a>
                </li>
                 <li>
                    <a href="#" style="text-indent:50px;">&#8226 Making Life Easier</a>
                </li>
                <li>
                    <a href="#" style="text-indent:50px;">&#8226 Collaboration</a>
                </li>
                <li>
                    <a href="#" style="text-indent:50px;">&#8226 Civic Involvement</a>
                </li>
                <li>
                    <a href="#">Reaching Out To You</a>
                </li>
                <li>
                    <a href="#" style="text-indent:50px;">&#8226 Tangible Advocacy</a>
                </li><li>
                    <a href="#" style="text-indent:50px;">&#8226 Open Advocacy</a>
                </li>

                <li>
                    <a href="#">Representing You</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <img class = "img-responsive" src = "http://i1378.photobucket.com/albums/ah93/HorseManly/DSC_9265_zpsdb0a5222.jpg" width = "100%"/>

    
        <h1 style = "padding-left:50px; color:#000066">Empowering You</h1>
        <div class="featurette bleu" >
          <h2 style = "color:#000066">Making Life Easier - It’s often the smallest things that make the biggest difference. Team Litchfield will continue to advocate for some simple changes that will make your life in London a little easier!</h2>
          <h3>&#8226 Seven Day Garbage Collection</h3>
          <p class="lead">Having garbage pickup consistently on the same day will make life easier for students. We will press for this change in service and work to make remembering garbage day easier in the mean time.</p>

          <h3>&#8226 One Piece Bus Pass</h3>
          <p class="lead">Team Litchfield will actively collaborate and work together on projects with other student groups and external organizations. Let’s break down silos and end duplication. </p>
        </div>
        <br>

        <div class="featurette bleu" >
          <h2 style = "color:#000066">Collaboration - The USC often works alone and misses opportunities to partner with other groups striving for the same goals. </h2>
          <h3>&#8226 Active partnerships</h3>
          <p class="lead">Having garbage pickup consistently on the same day will make life easier for students. We will press for this change in service and work to make remembering garbage day easier in the mean time.</p>

          <h3>&#8226 For-profit partnerships</h3>
          <p class="lead">In the past the USC has not partnered with for-profit institutions. Team Litchfield is open to working with for-profit institutions to provide opportunities and programming that meets the needs of students. </p>

          <h3>&#8226 Promote external student-friendly initiatives</h3>
          <p class="lead">There are a lot of opportunities outside of Western for students. Team Litchfield will actively promote programming that is off-campus but in the interest of students.</p>
        </div>
        <br>

        <div class="featurette bleu" >
          <h2 style = "color:#000066">Civic Involvement - Being an active member of the community is more than a way to meet new people, it’s our civic duty. Team Litchfield is committed to make civic life easier for students. </h2>
          <h3>&#8226 Civic Engagement Coordinator</h3>
          <p class="lead">This coordinator will be a new role in the External portfolio focused on helping students become more engaged with their community through organizing events like neighborhood BBQs, ensuring student concerns are noted and facilitating the continuation of our Good Neighbor Campaign.</p>

          <h3>&#8226 Increasing Civic Engagement</h3>
          <p class="lead">The City of London is very interested in increasing student engagement in the city and retaining students after graduation. We will work with the university and city to provide more opportunities for student engagement. This includes promoting community engaged learning opportunities, and increasing awareness for city council activities. We will also create a new civic engagement coordinator to lead civic engagement initiatives and work with community partners like the London Economic Development Commission to find short and long-term local employment for students. </p>
        </div>


        <h1 style = "padding-left:50px; color:#000066">Reaching Out to You</h1>
         <div class="featurette bleu" >
          <h2 style = "color:#000066">Tangible Advocacy</h2>
          <h3>&#8226 Civic Engagement Coordinator</h3>
          <p class="lead">This coordinator will be a new role in the External portfolio focused on helping students become more engaged with their community through organizing events like neighborhood BBQs, ensuring student concerns are noted and facilitating the continuation of our Good Neighbor Campaign.</p>

          <h3>&#8226 Increasing Civic Engagement</h3>
          <p class="lead">The City of London is very interested in increasing student engagement in the city and retaining students after graduation. We will work with the university and city to provide more opportunities for student engagement. This includes promoting community engaged learning opportunities, and increasing awareness for city council activities. We will also create a new civic engagement coordinator to lead civic engagement initiatives and work with community partners like the London Economic Development Commission to find short and long-term local employment for students. </p>
        </div>

      

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
